<ng-container *ngIf="landmarkWithDescription$ | async as landmarkWithDescription">

    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image rellax-header" data-rellax-speed="-8"
                [style.background]="'url(' + landmarkWithDescription.photo.url + ')'"
                [style.background-position-x]="'center'" [style.background-position-y]="'center'">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">{{landmarkWithDescription.title}}</h1>
                </div>
            </div>
        </div>
        <div class="section" style="padding: 95px 0 30px 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3 class="title">What you should know</h3>
                        <h5 class="description" [innerText]="landmarkWithDescription.short_info" style="color: unset;">
                        </h5>
                    </div>
                </div>
                <!-- <div class="separator separator-primary"></div> -->
                <div class="section-story-overview" style="padding-top: 65px; margin-top: 30px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left">
                                <img class="image-container image-left" [src]="randomImageSource"
                                    alt="generic dubai image"
                                    style="opacity: 30%; object-fit: cover; width: fit-content;">
                                <!-- First image on the left side -->

                            </div>
                            <div style="">
                                <p class="blockquote blockquote-primary"
                                    style="text-transform: unset; width: 220px;top: 575px;right: 55px;">
                                    For detailed information on {{landmarkWithDescription.title}}, visit

                                    <em><a [href]="landmarkWithDescription.url">{{landmarkWithDescription.url |
                                            urlShortenPipe | urlShortenPipe}}</a></em>

                                    <br>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->

                            <!-- <button class="btn btn-primary" (click)="open(classic,'' , '')">
                                Launch Modal
                               </button> -->
                            <ng-template #classic let-c="close" let-d="dismiss">
                                <div class="modal-body"
                                    style="background: black; padding: 5px; cursor: zoom-out; margin: 0;"
                                    (click)="d('Cross click')">

                                    <img [src]="landmarkWithDescription.photo.url"
                                        [alt]="landmarkWithDescription.photo.name">
                                </div>
                            </ng-template>

                            <img class="image-container image-right" (click)="open(classic,'' , '')"
                                [src]="landmarkWithDescription.photo_thumb.url"
                                [alt]="landmarkWithDescription.photo_thumb.name"
                                style="margin-left:unset; cursor:zoom-in;">
                            <h3 class="" style="text-align: center;">Learn more
                            </h3>
                            <!-- <div class="separator separator-primary"></div> -->
                            <p style="text-align: justify;">{{landmarkWithDescription.description}}
                            </p>
                        </div>
                    </div>
                    <div class="row" style="display: flex; justify-content: center; margin-top: 62px;">
                        <ngx-apple-maps id="map" style="display: block; width: 1000px; height: 500px;"
                            [options]="options" [settings]="settings" (onLoaded)="onLoaded($event)">

                            <ngx-apple-maps-annotation [latitude]="latitude" [longitude]="longitude"
                                [options]="annotationOptions">
                            </ngx-apple-maps-annotation>

                        </ngx-apple-maps>

                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>

    </div>

</ng-container>