.blockquote small {
     text-transform: unset;
}

.button-container{
    text-align: center;
    margin-top: -129px;
}

.section-style {
    padding: 95px 0 30px 0
}

.button-margin {
    margin-bottom: 25px;
}

.h5-style {
    color: unset;
}

.containet-index {
    z-index: 0;
}

.main-view {
    padding-top: 65px; 
    margin-top: 30px; 
}

.random-image {
    opacity: 30%; 
    object-fit: cover; 
    width: -webkit-fill-available; 
    width: -moz-available;
}

.quote-text {
    text-transform: unset; 
    width: 220px !important;
    top: 575px !important;
    right: 55px !important; 
    text-align: center !important;
}

.modal-body2 {
    background: black; 
    padding: 5px; 
    cursor: zoom-out; 
    margin: 0;
}

.image-for-zoom {
    margin-left:unset; 
    cursor:zoom-in;
}

.learn-more {
    text-align: center;
}

.justify {
    text-align: justify;
}

.maps-row {
    display: flex; 
    justify-content: center; 
    margin-top: 62px;
}

.apple-maps {
    display: block; 
    width: 1000px; 
    height: 500px;
}