select option {
    background: black !important;
}

.header2 {
    height:130vh !important;
}

.card-custom{
    max-width: 600px !important; 
    top: 50px !important;
}

.top-content {
    top: 45% !important;
}

.logo {
    width: 150px !important;
}

.logo-image {
    width: 70% !important;
}

.h4-style {
    width: max-content !important; 
    margin-top: 0 !important;
}

.select-style {
    border-radius: 30px; 
    font-size: 0.8571em; 
    background-color: rgba(255, 255, 255, 0.1); 
    margin-bottom: 60px; 
    color: white; 
    height: 46px; 
    border:none;
}

.input-style {
    display: flex !important; 
    align-items: center !important;
}

.input-style2 {
    margin-bottom: 0 !important; 
    padding-right: 0 !important;
}

.textarea-style {
    border-radius: 30px !important;
}