<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image " data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logo-white.png" alt="logo">
                <h1 class="h1-seo">A Day At Dubai</h1>
                <h4>Discover the most vibrant of cities, where avant-garde architecture blends harmoniously with the
                    mystique and culture of Arabia.</h4>
            </div>
        </div>
    </div>

    <div class="main">
        <app-all-landmarks [landmarks]="allLandmarks$ | async"></app-all-landmarks>
    </div>

    <app-footer></app-footer>

</div>