<div class="wrapper">
    <div class="section">
        <div class="container">
            <h3 class="title">About me</h3>
            <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised,
                Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm,
                intimate feel with a solid groove structure. An artist of considerable range.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">Landmarks</h2>

                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                                <ng-container *ngFor="let landmark of landmarks">

                                    <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                                        <div class="col-md-10 ml-auto mr-auto">
                                            <div class="row">

                                                <div class="col-md-6"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <a [routerLink]="'/landmark'"
                                                        [queryParams]="{id: landmark.objectId}"
                                                        title="Click for more info">
                                                        <img [src]="landmark.photo_thumb.url"
                                                            [alt]="landmark.photo_thumb.name"
                                                            class="rounded img-raised">
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- <button onclick="location.href='/landmark/${landmark.objectId}'" -->
                                                    <button [routerLink]="'/landmark'"
                                                        [queryParams]="{id: landmark.objectId}"
                                                        class="btn btn-link btn-info" style="padding-left: 0;"
                                                        title="Click for more info">
                                                        <h3 style="margin-bottom: 0;">{{landmark.title}}</h3>
                                                    </button>

                                                    <p>{{landmark.short_info}}</p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                </ng-container>


                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>

                    <!-- <ng-template>
                        <div class="row">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                        <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template> -->

                </div>
            </div>
        </div>
    </div>
</div>