.row-style {
    margin-bottom: 30px; 
    margin-top: 30px;
}

.landmark {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.button-padding {
    padding-left: 0;
}

.landmark-style {
    margin-bottom: 0;
}

.short-info {
    text-align: justify;
}

.separator-custom {
    margin-bottom: 60px;
}